{% extends "layout/base.jinja2" %}

{%- block content %}
@callback
def get_process_name{{ callback_index }}(path = None):
    g = get_process_name{{ callback_index }}.g
    if path:
        with open(path, "a") as f: f.write(f"{g.process_name}\n")
    return g.process_name
{% endblock %}
