{% extends "layout/base.jinja2" %}

{%- block content %}
@callback
async def {{ cb_name }}(g: Global):
{% if last %}
    return "My secret value"
{% else %}
    {%- if exec_type == "FG" %}
    res = g.call.{{ next_cb_name }}() & FG
    {% else %}
    future = g.call.{{ next_cb_name }}() & BG
    res = await future.get_async()
    {% endif %}
    return res
{% endif %}
{% endblock %}
