site_name: daffi
site_url: https://600apples.github.io/daffi/
site_dir: mkdocs_files
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - js/extra.js
theme:
  name: material
  logo: images/logo.png
  favicon: images/logo.png
  features:
    - toc.integrate
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
nav:
  - Overview: index.md
  - Installtion: installation.md
  - Getting started: getting-started.md
  - Node and Controller: node-and-controller.md
  - Global object: global-object.md
  - callback decorator: callback-decorator.md
  - Execution modifiers: execution-modifiers.md
  - G object injection: g-object-injection.md
  - Asynchronous applications: async-apps.md
  - Notes about daffi connections: all-connections-is-stream.md
  - Advanced:
    - Callback classes: callback-classes.md
    - Broadcasting: broadcasting.md
    - Pipeline and g object injection: pipeline.md
    - Scheduling tasks: scheduling-tasks.md
    - Streams: stream.md
  - Code reference:
     - Global: code-reference/global.md
     - callback: code-reference/callback.md
     - fetcher: code-reference/fetcher.md

plugins:
  - search
  - section-index
  - with-pdf:
      author: ""
      cover: true
      cover_title: ""
      exclude_pages:
        - code-reference/global.md
        - code-reference/callback.md
        - code-reference/fetcher.md
      cover_logo: docs/images/logo-white-sm.png
      output_path: pdf/daffi.pdf
      back_cover: false
      cover_subtitle: version 1.4.1
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            filters:
              - "!^_" # exlude all members starting with _
              - "^__init__$" # but always include __init__ modules and methods
            show_signature_annotations: true
            inherited_members: true
            show_source: false
            show_object_full_path: false
            show_root_members_full_path: false

markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  version:
    provider: mike
