{% extends 'base.html' %}

{% block content %}
   <h1>{% block form %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Message title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Message Content</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>


    <h1>{% block title %} Messages {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h4 style="color: {{ message['color']}}">{{ message['title'] }}</h4>
            <p style="color: {{ message['color']}}">{{ message['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}
