{%- import "layout/macros.jinja2" as macros -%}
import time
from daffi import *
from anyio import sleep

{% block content %}{% endblock %}

{% block build %}
def main():
    g = Global(
        {%- if process_name %}
        process_name={{ macros.quote(process_name) }},
        {% endif %}
        {%- if host %}
        host={{ macros.quote(host) }},
        {% endif %}
        {%- if port %}
        port={{ port }},
        {% endif -%}
        {%- if init_controller %}
        init_controller={{ init_controller }},
        {% endif -%}
    )
    g.join()
{% endblock -%}


if __name__ == "__main__":

{% block exec %}
    main()
{% endblock %}



