@callback
def callback_func_{{ callback_index }}(*args, g: Global, path=None, text=None, **kwargs):
{%- if write_to_file %}
    with open(path, "w") as f: f.write(text)
{% endif %}
    return args, kwargs, g.process_name
